body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 100px;
    height: 100px;
    background-color: gold;
    transition: transform 0.2s;
}

.box:hover {
    transform: rotate(-15deg) skew(10deg) translate(25px, 20px);
}