html {
    font-size: 62.5%;
}

body {
    margin: 10px;
}

.box {
    width: 10rem;
    height: 100vh;
    background-color: gold;
    border-top: 3px solid orange;
}

/* 'px' is an absolute unit */
/* 'em' is a unit referring the font size of the parent element */
/* 'rem' is a unit referring the font size of the root element (16px) */
/* 'vh' and 'vw' refer to the viewport height and width */
/* '%' refers to the dimension of the parent element */