body {
    margin: 10px;
    height: 200vh;
}

.boxes {
    border: 3px solid lightgrey;
    position: relative;
}

.box {
    width: 5rem;
    height: 5rem;
}

.box-one {
    background-color: gold;
}

.box-two {
    background-color: tomato;
    position: fixed;
    top: 0;
    left: 2rem;
    right: 2rem;
    width: auto;
    z-index: 1;
}

.box-three {
    background-color: dodgerblue;
}

/* 'relative' positions an element relative to its normal position */
/* 'absolute' positions an element relative io its parent (parent must have relative positioning) */
/* 'fixed' positions an element relative to the viewport */