body {
  margin: 10px;
}

.box {
  text-align: center;
  width: 200px;
  height: 200px;
  background: dodgerblue;
  box-shadow: 0 0 20px grey;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}