body {
  margin: 10px;
}

/* Use of '!important' discards other rules (Unrecommended) */
h1 {
  color: dodgerblue !important;
}

.highlight {
  color: deeppink;
}

#products {
  color: green;
}

/* The element with class 'feature' containing an element with id 'products' (Don't make it deeply nested) */
.feature #products {
  color: crimson;
}

/* Selectors specificity is as follows: id > class > elements */